<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is HTML response for the project</h1>
        <h1>We use render function to extract the html page resonse</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exerci
        tationem cum nostrum eveniet aliquam, quis odio voluptates. Pariatur,
        minima ratione nobis autem accusantium totam tenetur ullam? Quaerat,
        dolorem. Repellat, necessitatibus sint sunt, nesciunt iusto saepe 
        vero similique nihil reprehenderit eveniet debitis eligendi suscipit 
        architecto? Necessitatibus magnam, ipsa suscipit et quidem aspernatur!.</p>
    </center>
</body>
</html>